body{
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: aquamarine;
}

.preguntas{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.preguntas_css{
    color: red;
}
